{
    "env": {
        "mocha": true,
        "node": true
    },
    "rules": {
       "quotes": 0,
       "no-new": 0,
       "no-new-func": 0,
       "key-spacing": [2, {
         "beforeColon": true,
         "afterColon": true
       }],
       "no-underscore-dangle":0
   }
}
